
var DateFr = {
  add0:function(m){
    return m < 10 ? '0' + m : m
  },
  getDate: function (shijianchuo) {
    //shijianchuo是整数，否则要parseInt转换
    var time = getDate(shijianchuo);
    var y = time.getFullYear();
    var m = time.getMonth() + 1;
    var d = time.getDate();
    var h = time.getHours();
    var mm = time.getMinutes();
    var s = time.getSeconds();
    return y + '-' + DateFr.add0(m) + '-' + DateFr.add0(d) + ' ' + DateFr.add0(h) + ':' + DateFr.add0(mm) + ':' + DateFr.add0(s);
  }
}

module.exports = {
  getDate: DateFr.getDate
}